@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

/* Header styling */
header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header ul {
    display: flex;
    gap: 20px;
    list-style: none;
    text-transform: uppercase;
    font-weight: 700;
}

header a {
    text-decoration: none;
    color: black;
}

header a:hover {
    text-decoration: underline;
    text-decoration-color: #ff6b6b;
}

/* Hero section styling */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(./assets/img/header-bg.jpg);
    color: white;
    padding: 20rem 10rem 20rem 57rem;
    height: 93vh;
    width: 100%;
    background-size: cover;
    background-position: contain;
}

.hero-text {
    font-size: 5.2rem;
    font-weight: 100;
    line-height: 1.2;
}

.hero-text strong {
    font-weight: 700;
}

.hero button {
    background: linear-gradient(to right, #3b82f6, #8b5cf6, #8b5cf6);
    color: white;
    padding: 10px 30px;
    border-style: none;
    border-radius: 25px;
    font-size: 1.5rem;
    margin-top: 2rem;
    text-transform: uppercase;
}

/* Second section styling */
.second-section {
    margin: 7.2rem 5rem;
    /* max-height: 100vh; */
}

.second-section .header {
    text-align: center;
    line-height: 1.7;
}

.second-section .header h1 {
    font-size: 3rem;
}

.second-section .header p {
    padding: 0 15rem;
}

.second-section .cards-container {
    margin: 7rem 5.5rem;
    display: flex;
    gap: 30px;
}

.second-section .cards-container h3 {
    margin: 30px 0 20px 0;
    font-size: 1.4rem;
}

.second-section .cards-container svg {
    width: 70px;
    height: 70px;
}

.second-section .cards-container button {
    margin: 25px 0 45px 0;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    border-style: none;
    padding: 10px 30px;
    border-radius: 25px;
    background-color: inherit;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* border: black 0.01px solid; */
}